* {
    font-family: 'Oswald', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.animmals {
    display: flex;
    flex-direction: column;
    position: relative;
}
.animals img {
width: 50vw;
border-radius: 15%;
padding: 10px;
cursor: pointer;
opacity: 50%;
border: solid 4px grey;
border-width: 8px;
transition: ease-in-out .25s;
padding: 0px;
}

.animals :hover {
    opacity: 100%;
}
#cattext {
    position: absolute;
    top: 200px;
    left: 35%;
}
main {
    text-align:center

}
#dogtext {
    position: absolute;
    top: 610px;
    left: 35%;
}
#horsetext {
    position: absolute;
    top: 900px;
    left: 35%;
}